.user-wall-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 1rem;
}

@media (min-width: 0px){
    .user-wall-container{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 690px){
    .user-wall-container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (min-width: 1024px){
    .user-wall-container{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-column-gap: 1rem;
        padding-left: 25px;
        padding-right: 25px;
    }
}