.div1{
    height : 100px;
    width : 100px;
    background-color: lightblue;
    margin: 10px;
    /* transition: ease-in-out 0.3s; */
}

.divMaster{
    background-color: gray;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}
.div2{
    height : 100px;
    width : 100px;
    background-color: lightyellow;
    margin: 10px;
    /* transition: ease-in-out 0.3s; */
}
.div3{
    height : 100px;
    width : 100px;
    background-color: lightgreen;
    margin: 10px;

}


