
.comment-edit-button, .comment-delete-button{
  &:hover{
    background-color: #ffffff;
  }
}

@keyframes kebab-menu-open {
    0% {
      height: 0px;
      width: 0px;
      opacity: 0;
    }
    30%{
        opacity: 1;
    }
    100% {
      height: 35px;
      width: 70px;
      opacity: 1;
    }
  }
  
  @keyframes kebab-menu-close {
    0% {
      height: 35px;
      width: 70px;
      opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% {
      height: 0px;
      width: 0px;
      opacity: 0;
    }
  }

